<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
			{% load static %}
	<link rel="stylesheet" href="{% static 'courses1/css/style.css' %}" media="screen" title="no title"  charset="utf-8">	
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
</head>
<body>
	<h2>Are you sure you want to delete the following course?</h2>
	<h4> Name: {{ course.course_name }} </h4>
	<h4> Description: {{ course.desc }} </h4>

	<a href='/' class='button'>No</a>

	<a href='/{{ course.id }}/destroy' id='delete' class='button'>Yes! I want to delete this</a>
</body>
</html>